.sidebar {
    transition: left 0.5s ease;
    position: absolute;
    left: -200px;
    top : 0px;
    border-right: 1px solid #222;
    border-radius: 4px;
    width: 200px;
    height: 100%;
    background-color: #222;
}

.sidebar-toggle-button {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: -14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid #dbdbdb;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 3px 1px;
    font-size: 10px;
    background-color: #222;
    cursor: pointer;
}
.sidebar-toggle-button:active {
    background-color: white;
}

.isSidebarOpen {
    left: 0px;
}

.sidebarlogo {
    padding: 10px;
    /* margin-bottom: 10px; */
    margin-bottom: 10px;
    border-bottom: 2px solid white;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 60px;
    background-color: #444;
    /* linear-gradient(to bottom right, 색상1, 색상2)  그라데이션 효과 */
    font: 20px;
    font-weight: 700;
}

.menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom   : 1px solid white;
    background-color: #444;
    padding: 10px 2px;
    height: 40px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

.menu-items:hover {
    background-color: #333;
}
.menu-items:active {
    background-color: #222;
}
/* .isMenuSelected {
   
} */