.todolist-page-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(121, 206, 235);
    height: 100%;
}

.todolist-addlist-container {
    background-color: rgb(121, 206, 235);
}

.todolist-text-area {
    width: 900px;
    background-color: lightblue;
    padding: 10px 5px;
}

.addlist-dateselector {
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border-radius: 4px;
    border: 2px solid rgb(36, 90, 190);
    font-size: 20px;
    font-weight: 700;
    height: 87px;
    width: 220px;
    margin-left: 10px;
}

.todolist-add-button {
    width: 900px;
    margin-top: 10px;
    padding: 7px 0px;
}


.todolist-header-container {
    display: flex;
    height: 50px;
    background-color: rgb(121, 206, 235);
    border-bottom: 2px solid yellow;
}


.radios-head {
    font-size: 18px;
    background-color: rgb(121, 206, 235);
    font-weight: 700;
    text-shadow: 0px 0px 10px yellow;
}

.todolist-header-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid yellow;
    background-color: rgb(121, 206, 235);
}

.todolist-header {
    font-size: 25px;
    background-color: rgb(121, 206, 235);
    text-shadow: 0px 0px 10px yellow;
}

.todolist-header-right {
    border-left: 2px solid yellow;
    border-right: 2px solid yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;    
    background-color: rgb(121, 206, 235);
}

.todolist-radios {
    background-color: rgb(121, 206, 235);
}



.todolist-radio-text {
    background-color: rgb(121, 206, 235);
}

.todolist-items-container {
    margin-top: 10px;
    border-top: 2px solid yellow;
    overflow-y: scroll;
}

.todolist-items-container::-webkit-scrollbar {
    width: 5px;
}

.todolist-items-container::-webkit-scrollbar-thumb {
    background-color: yellow;
    border-radius: 3px;
}

.todolist-item {
    display: flex;
    width: 100%;
    height: 130px;
    padding: 8px 15px;
    border-bottom: 2px solid yellow;
    background-color: rgb(142, 223, 248);
}

.todolist-item-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
    background-color: rgb(142, 223, 248);

}

.todolist-item-text {
    background-color: white;
    border: 2px solid yellow;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 500;
    height: 100%;
    width: 98%;
    padding: 5px 5px;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

.todolist-item-text::-webkit-scrollbar {
    width: 5px;
}
.todolist-item-text::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 3px;
}

.todolist-item-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    flex-direction: column;
    height: 100%;
    background-color: rgb(142, 223, 248);   
}

.todolist-item-getdate {
    display: flex;
    height: 50%;
    width: 100%;
    background-color: rgb(142, 223, 248); 
}

.todolist-item-getdate-text {
    display: flex;
    padding: 5px 5px 5px 0px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    border: 2px solid yellow;
    font-size: 24px;
    font-weight: 500;
    background-color: rgb(142, 223, 248); 
}

.todolist-item-radio-and-cd {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50%;
    background-color: rgb(142, 223, 248); 
}

.todolist-item-radio-and-cd button {
    height: 90%;
}